.title-banner,.markets-section,.promo-fade,.footer-box{opacity: 0;transition: 0.5s ease-in-out;}

.title-banner.animated,.markets-section.animated,.promo-fade.animated,.footer-box.animated{opacity: 1;transition: 0.4s ease-in-out;animation-duration: 2s;}
  
